:root {
    --spacing: 50px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    background-color: #5198ad;
    margin: 0%;
}

body {
    background-color: #F8F8FF;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2E768C;
    padding: 15px;
}

header h1 {
    font-size: 19px;
    font-weight: 600;
    color: #f1e7e7;
}

.btn-menu {
    margin-right: var(--spacing);
}

.notif {
    margin-left: var(--spacing);
}

.menu,
.notificacoes {
    color: #F5F5F5;
    font-size: larger;
}

.menu {
    font-size: x-large;
}

header a {
    text-decoration: none;
}

main {
    background-color: #5198ad;
}

.contas {
    display: flex;
    justify-content: center;
    font-size: 22px;
    padding: 30px 0px 0px;
    margin-top: 0;
    font-weight: 300;
    color: #f1e7e7;
}

.banco {
    padding: 20px;
    margin: 30px 8%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 10px 40px #00000056;
}

.topo {
    display: flex;
    gap: 10px;
}

.logo-banco {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banco h3 {
    font-size: 16px;
    font-weight: normal;
}

.saldo {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 800px) {

    section {
        display: flex;
        flex-wrap: wrap;
        gap: 40px 20px;
        justify-content: center;
    }

    .banco {
        margin: 0px;
        width: 41%;
    }

}